@model LMS.Core.Entities.ViewModels.CoursesViewModel
@{
    ViewData["Title"] = "Details";
}
@*<div class="pt-5">
  <h3 style="color: #293a7d; text-align:start;">Details for this course</h3>
</div>*@

<section class="backgroundphotodetails">
<div class="d-md-flex inline-block align-items-center"> @*Devides screen into 2 parts*@
<div class=" row-cols-6 align-items-center" style="background-color:  #a4d6c6; border-radius:2%; width:30%;  display:inline-block;">

   <h3 class="col-12 p-2 text-center" style="color: #293a7d;">Details for this course</h3>

   <div class="col-8 p-3">
    <dl class="row-col-8">
        <dt class = "col-sm-2  ">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>

         <div class="pt-3">
         <link rel="stylesheet"
           href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <button class="btn btn-outline-primary "> 
             <a asp-controller="Courses" asp-action="IndexTeacher">Back to teacher <i class="fa fa-reply"></i> </a>
            </button>
  </div>
</div>
    </dl>
  </div>


 <section style="margin-left:8%;
                 background-color: transparent; 
                 padding:8%;
                 border-radius:2%;">


 <div class="row-col-8 align-items-center mr-2">

     <div class="row-col-8">

     <partial name="_Index_Partial_Details"/>

     </div>

   </div>

   </section>
 </div>

 </section>




