
@using LMS.Core.Entities
@using LMS.Core.Entities.ViewModels
@using Microsoft.AspNetCore.Identity
@model IndexViewModel
@inject UserManager<User> UserManager


@{
    
    ViewData["Title"] = "Home Page";
}

<section class="studentsida">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <div>
        <p class="display-6   ls-tigh wellcome" style="color:#629f8c; font-family: Century Gothic;">Welcome to Lexicon,
        you are logged in as a student!</p>
      </div>

      <button class= "btn btn-outline-success docbutton " style="justify-content: center;">
          <a asp-action="StudentDocuments">Go To Documents <i class="fa fa-file"></i></a>
      </button>

    <br />


    <div class="row align-items-center"> @*Creates first row*@
       
          
         <div class="col-md-4" style="font-size:large;"> 

            <div class="student" >

             <p class="col-md-6 text-center  current">Your current course: <br />                             
    

                @{
        
                    var studentId = int.Parse(@UserManager.GetUserId(User));        
                    var courseId = @Model.ListOfUsers.Where(g => g.Id == studentId).FirstOrDefault().CourseId;
                    var currentUserCorse = @Model.ListOfCourses.Where(h => h.Id == courseId).FirstOrDefault().Name;
                    var start = @Model.ListOfCourses.Where(h => h.Id == courseId).FirstOrDefault().StartDate;
                    var end = @Model.ListOfCourses.Where(h => h.Id == courseId).FirstOrDefault().EndDate;
                 }
                 @Html.DisplayFor(model => currentUserCorse) <br />
                 @Html.DisplayFor(model => @Model.ListOfCourses.Where(h => h.Id == courseId).FirstOrDefault().StartDate) to @Html.DisplayFor(model =>  @Model.ListOfCourses.Where(h => h.Id == courseId).FirstOrDefault().EndDate)
                 <br /><br />

             </p>
            </div>
         </div>
        

       
       <div class="col-md-4" style="font-size:large;">        
       <div class="student">

          <p class= "col-md-4 text-center  current">Your current module:  <br />    
      

                @if (start>DateTime.Now | end<DateTime.Now)
                {
                 <p class="NoModules">You have no modules at present</p> 
                }
                           
                @foreach (var item in Model.ListOfCourses.Where(m => m.Id == courseId).FirstOrDefault().Modules)
                {
                  @if (item.StartDate < DateTime.Now && item.EndDate > DateTime.Now)
                  {
                  <tr>
                    <td>
                      @Html.DisplayFor(modelItem => item.Name)
                           </td>
                           <br />
                           <td>
                           @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                             to
                            <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                           </td>
                           </tr>
                  }
                } <br /><br />

           </p>

           </div>
                            
        </div>

   



    

     

         <div class="col-md-4" > 
            <div class="student" >

             @foreach (var item in Model.ListOfActivity)
                {
                    @if (item.StartDate < DateTime.Now && item.EndDate > DateTime.Now)
                    {


                    <p class= "col-md-4 text-center current">Your current Activity:
                        <br>

                        <tr>
                           <td>
                             @Html.DisplayFor(modelItem => item.Name)
                           </td>
                           <br/>
                           <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                           </td>
                            to
                           <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                           </td>
                       </tr> <br/><br/>
                   
                     <td>
                      @Html.DisplayFor(modelItem => item.ActivityType.Name)
                      </td>
                     </p>  
                   
                    }   
            
           
                }

          </div>
         </div>
       
        </div> @*Closes first row*@
    
            <br /><br />
         
     

    
     
     
     
  @*   Second part of page*@
     
     <nav  class="nt">
       <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Modules <i class="fa fa-book"></i></button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> Teachers <i class="fa fa-users"></i></button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Students  <i class="fa fa-graduation-cap"></i></button>
   
       </div>
     </nav>

        <div class="teachertable">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">


                <br />


                <div class="container">
                <div class="row row-cols-5">

                        @foreach (var item in Model.ListOfModules.Where(m => m.CourseId == courseId))
            
                        {
                
                               
                                           
                                    <div class="col">
                            <u class="fw-bold">Name</u><br>
                                                @Html.DisplayFor(modelItem => item.Name)
                       
                                           
                                            <br>
                            <u class="fw-bold">Description</u><br>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            


                                            <br>
                            <u class="fw-bold">Time</u><br>
                                                @Html.DisplayFor(modelItem => item.StartDate)
                                           
                                            to
                                            
                                                @Html.DisplayFor(modelItem => item.EndDate)

                            <br><br><br><hr >
                        
                                    </div>
                                
                                        foreach (var act in Model.ListOfActivity.Where(p=>p.ModuleId==item.Id))
                                        {
                            <div class="col">
                                <u class="fw-bold">Activity</u><br>
                                @Html.DisplayFor(modelItem => act.Name)

                                <br />
                                <u class="fw-bold">Description</u><br>
                                @Html.DisplayFor(modelItem => act.Description)

                                <br />
                                <u class="fw-bold">ActivityType</u><br>
                                @Html.DisplayFor(modelItem => act.ActivityType.Name)

                                    <br />
                                    <br /><hr>
                             </div>
                    
                     
                        }                
                        }

                </div>
            </div>


        </div>
      
         
         
         
         
                     <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
          

                        @foreach (var item in Model.ListOfTeachers)
                        {

               
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <br>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>

                                    <br>
                                    <br><hr>

                                </tr>                
                        }

                     </div>
        
        
       
        
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

                       @foreach (var item in Model.ListOfStudents)
                        {                
                            if (item.CourseId == courseId) 
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <br>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>

                                    <br>
                                    <br><hr>
                                </tr>
                            }
                        }
            
                    </div>
    </div>

    </div>
  
    </div>
   
    </section>






