@using LMS.Core.Entities
@using LMS.Core.Entities.ViewModels
@using Microsoft.AspNetCore.Identity
@model AssignmentViewModel
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@{
    var studentId = int.Parse(@UserManager.GetUserId(User)); }




@*<form enctype="multipart/form-data" method="post" asp-controller="courses" asp-action="UploadFile">
    <dl>
        <dt>
            <label>Upload</label>
        </dt>
        <dd>
            <input type="file" name="FormFile" id="FormFile">
            
        </dd>
    </dl>
    <input class="btn" type="submit" value="Upload" />
</form>
*@

@*<table>
    <tr>
        <th>File Name</th>
        <th></th>
    </tr>
    @foreach (FileModel file in Model.Files  )
    {
        <tr>
            <td>@file.FileName</td>
            <td>@Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName })</td>
        </tr>
    }
</table>
*@
<section class="backgroundphoto">
<div class=" row-col-6 container1 ">

<h1 style="color: #293a7d;">Assignments</h1>
 

@{
    bool test = false;
}
    @foreach (var item  in Model.Documents)
    {
       
        @if ((item.UserId == studentId)&& (item.Description != "returning Assignment"))
        {
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-6">@item.DocumentName  from:  @item.CreatorName</div>
                    </div>
                        
                    
                        <div class="row">
                            <div class="col-2"></div>

                            <div class="col-6">@Html.ActionLink("Download", "DownloadFile", new { fileName = item.DocumentName })</div>
                        </div>
                             
                <div class="row">
                            <div class="col-2"></div>
                      <div class="col-6">Due Date: @item.LogDate.AddDays(7)</div> 
                </div>
                
                
            @if (item.LogDate.AddDays(7) < DateTime.Now)
            {
               <div class="row">
                    <div class="col-2"></div> 
                    <div class="col-6" ><div class="text-danger">You are late<br /></div></div>
                    </div>
            }
            <br />
           <div class="row">
                    <div class="col-2"></div>
             <div class="col-6">Return Assignment</div>
             </div>
            

            <form enctype="multipart/form-data" method="post" asp-controller="courses" asp-action="UploadFile">
                
              @*<div class="row">
                    <div class="col-2"></div>       
                    <div class="col-6"><label>Upload</label>
             </div>   *@    
                    <div class="row">
                        <div class="col-2"></div> 
                        <div class="col-6"><input type="file" name="FormFile" id="FormFile"></div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div> 
                <div class="col-6"><input class="btn" type="submit" value="Upload"></div>      
                </div>
               
            </form>
            @if (item.Description == "returning Assignment")
            {
                <br />
                <p>Assignment Returned</p>
                <br />
            }
            test = true;
        }
        
    }

</div>

<div>

@if (test==false)
{
    <div class="row">
    <p class="col-12 assignments ">No Assignments today.</p>
    </div>
}
    <div class="row">
    <button class="col-12 doucumentsback btn btn-outline-success"><a asp-action="IndexStudent">Back to Homepage</a></button>
    </div>
</div>

</section>